@import 'reset-css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: NotoSansKR-Regular;
}

button {
  outline: 0;
  border: 0;
  background: none;
  padding: 0;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  background: black;
  color: black;
}

#__next {
  background: white;
  width: 600px;
  max-width: 600px;
  height: 100%;
}

#__next * {
  /* width: 100%; */
  overflow-wrap: break-word;
  overflow: hidden;
}

@media (max-width: 767px) {
  #__next {
    width: 414px;
    max-width: 414px;
  }
}

@media (max-width: 413px) {
  #__next {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  font-weight: 400;
  src: url('/fonts/NotoSansKR-Regular.otf') format('truetype');
}
